@import "tailwindcss";

@theme {
  --color-main: #16a34a;
  --color-white-smoke-40: #f5f5f514;
  --color-overlay: rgba(71, 85, 105, 0.18);
  --color-overlay-80: rgba(0, 0, 0, 0.8);
  --color-overlay-60: rgba(0, 0, 0, 0.6);
  --color-border-primary: #2c2b2c;
  --color-element-bg-main: #f5f7fb;
  --color-element-bg-secondary: #ffffff;
  --color-element-main: #0066b3;
}
